.app-menus
  .main-nav-link
    line-height: normal;
    padding: 16px
  .main-nav-link-active
    opacity: 1
    font-weight: bold 
    color: #ffd700


.app-logo
  transform: translateY(-5px) translateZ(0);
