.app-menus
  .main-nav-link
    line-height: normal;
    padding: 16px
  .main-nav-link-active
    opacity: 1
    font-weight: bold 
    color: #ffd700


.app-logo
  transform: translateY(-5px) translateZ(0);
  box-shadow: 0 16px 32px 0 rgba(62,57,107,0.28),0 0 0 transparent
