.app-menus
  .main-nav-link
    line-height: normal;
    padding: 16px
  .main-nav-link-active
    opacity: 1
    font-weight: bold 
    color: #ffd700


.app-logo
  transform: translateY(-5px) translateZ(0);


.app-store-download
  .app-store-download-wrap
    padding: 24px

    .app-download-main
      .app-download-table
        width: 100%
        max-width: 100%
        margin-bottom: 20px

        thead
          display: table-header-group
          vertical-align: middle

        tbody
         display: table-row-group
         vertical-middle: middle
         border-spacing: 2px
         border-color: grey

         tr
           background-color: #fff  
           td
             background-color: #0000
             padding: 8px
             line-height: 1.5
             vertical-align: middle
             border-top: 1px solid #ddd

           td.app-download-version
             font-weight: bold

         tr:nth-of-type(odd)
           background-color: #f9f9f9


            
