
.gmagon-guide-page
  #article-toc-inner
    @extend .inner
    overflow-x: hidden
    overflow-y: auto
    width: guide-sidebar-width 
    .fixed &
        position: fixed
        top: 0
        bottom: 0