.socials-share-btn
   text-align: center;

.jssocials-share-link
    box-shadow: 0 2px 6px 0 rgba(51,105,231,0.4);
    padding: 0 20px;
    display: inline-block;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fff
    transition: background .2s, box-shadow .2s;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;