.container-support
  background: url(/asset/images/support_banner.jpg) no-repeat center 0
  min-height: 392px

.support-title
  width: 40%
  font-size: 64px
  line-height: 1.2em
  font-weight: 300
  padding: 10% 0 0 0
  font-family: "freigsanproLIG, Lato, Arial, Helvetica, sans-serif"
  color: color-link
  a
    outline: none
    text-decoration: none
    color: color-gray
