// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-gray = #999
color-border = #e3e3e3
color-navy = hsl(0, 0%, 100%, 0.8) // hsl(210, 25%, 12%)
color-navy-font = rgb(52, 57, 63)
color-menu-nav-font = white
color-link = #2e87e7
color-link-hover = lighten(color-link, 10%)
color-default = color-navy-font
color-mobile-nav-font = black
color-mobile-nav-background = #c0c0c0

@font-face 
    font-family "Open Sans"
    font-style normal
    src url(fonts/open-sans-v14-latin-regular.woff2) url(fonts/open-sans-v14-latin.woff2)



// Typography
font-sans = "Open Sans", "sans-serif", "SF Pro SC","HanHei SC","SF Pro Text","Myriad Set Pro","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif
font-serif = Garamond, Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Monaco, Menlo, Consolas, monospace
font-title = font-sans, Lato
font-size = 15px
line-height = 1.6em

// Layout
max-width = 1200px
gutter-width = 20px
sidebar-width = 220px
mobile-nav-width = 260px
guide-sidebar-width = 400px

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"
mq-tablet = "screen and (min-width: 480px)"
