.w3-white, .w3-hover-white:hover {
    color: #000!important;
    background-color: #fff!important;
}

.w3-white p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    /* border-color: black; */
    border-width: 5px;
    box-sizing: border-box;
}

.w3-container, .w3-panel {
    padding: 16px;
    margin: 10px;
}

.w3-container p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    /* border-color: black; */
    border-width: 5px;
    box-sizing: border-box;
}


.w3-border {
    border: 1px solid #ccc!important;
}

.w3-border-bottom {
    border-bottom: 1px solid #ccc!important;
}

.w3-margin-top {
    margin-top: 16px !important;
}

.w3-round-xlarge {
    border-radius: 16px;
}

.w3-leftbar {
    border-left: 6px solid #ccc!important;
}


.w3-border-black, .w3-hover-border-black:hover {
    border-color: #000!important;
}

.w3-border-red, .w3-hover-border-red:hover {
    border-color: #f44336!important;
}

.w3-border-blue, .w3-hover-border-blue:hover {
    border-color: #2196F3!important;
}

.w3-pale-blue, .w3-hover-pale-blue:hover {
    color: #000!important;
    background-color: #ddffff!important;
}

.w3-padding {
    padding: 8px 16px !important;
}

