.button {
    padding: 0 20px;
    display: inline-block;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -webkit-transition: background 0.2s, box-shadow 0.2s;
    -moz-transition: background 0.2s, box-shadow 0.2s;
    -ms-transition: background 0.2s, box-shadow 0.2s;
    transition: background 0.2s, box-shadow 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;

    border: none;
    color: #e3e3e3;
    background-image: -webkit-linear-gradient(10deg, #1f1e1e, #615f5f);
    background-image: -moz-linear-gradient(10deg, #1f1e1e, #615f5f);
    background-image: -ms-linear-gradient(10deg, #1f1e1e, #615f5f);
    background-image: linear-gradient(80deg, #1f1e1e, #615f5f);
}