layout: index
comments: false
title: Gmagon Software - handy and professional Mac apps 
keywords: Gmagon Software, Gmagon Mac solutions, Gmagon Apple Mac apps, Mac software from Gmagon
description: Gmagon provides simple&reliable software solutions running on Mac OS X. Find Mac XLSX to CSV Converter, Mac GIF Converter, Mac CSS Generator... from Gmagon. 
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Minimalism 
      p.intro-feature-desc Gmagon aims to provide amazing simple and powerful solutions for you.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-users
      h3.intro-feature-title 
        a(href='/support/') On-line Support
      p.intro-feature-desc Customer services are supported online. Chat records can be traced back, and you can join our community.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-space-shuttle
      h3.intro-feature-title Sustained Innovation 
      p.intro-feature-desc To help you solve problems once for all, various updated solutions are provided by our experts.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cubes
      h3.intro-feature-title 
        a(href='/products/') More Solutions
      p.intro-feature-desc Various solutions are recommended by our core technical team, you can feel free to try it.
